{% extends 'base.html' %}
{% block title %}Covid-19 - All NSW{% endblock %}
{% block head %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    // Load the Visualization API and the controls package.
    // Packages for all the other charts you need will be loaded
    // automatically by the system.
    google.charts.load('current', {'packages':['corechart', 'controls', 'line']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawDashboard);

    function drawDashboard() {
        // Everything is loaded. Assemble your dashboard...
        var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Cases');

      data.addRows([
        {% for each in history %}
        {{ each }}
        {% endfor %}
      ]);

        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));

        // Create a range slider, passing some options
        var casesRangeSlider = new google.visualization.ControlWrapper({
            'controlType': 'DateRangeFilter',
            'containerId': 'filter_div',
            'options': {
            'filterColumnLabel': 'Date',
            'ui': {
                'label': "",
                'format': {pattern: "d/M/yy"},
            }
            }
        });

        var casesChart = new google.visualization.ChartWrapper({
            'chartType': 'LineChart',
            'containerId': 'chart_div',
            'options': {
                height: 300,
                legend: 'none',
                hAxis: {
                format: 'd MMM',
                gridlines : {
                    count : 14,
                    minSpacing: 80,
                    }
                },
                vAxis: {
                title: 'Total Cases',
                format: '0',
                }
            }
        });

        dashboard.bind(casesRangeSlider, casesChart);

        function resize() {
            var chart = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
            chart.draw(data);
        }
        window.onload = resize();
        window.onresize = resize;


        dashboard.draw(data);
    };

    </script>

{% endblock %}

{% block content %}
    <div class="container">
    <div class="row select-buttons mb-2">
        <div class="col-4 button-all">
            <form action="allnsw" method = "POST" class="form-inline">
                {% if days_set == 'all' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="recall-all">All Cases</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="recall-all">All Cases</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-fourteen">
            <form action="allnsw" method = "POST" class="form-inline">
                {% if days_set == 'fourteen' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="recall-fourteen">14 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="recall-fourteen">14 Days</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-seven">
            <form action="allnsw" method = "POST" class="form-inline" name="seven-days">
                {% if days_set == 'seven' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="recall-seven">7 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="recall-seven">7 Days</button>
                {% endif %}
            </form>
        </div>
    </div>
    </div>
        </div>
    <div class="container">
        <div class="row headers mb-2">
            <div class="col-4">
            
            </div>
            <div class="col-4">
            Cases
            </div>
            <div class="col-4">
            Recent
            </div>
        </div>
        <div class="row rank-entry">

            <div class="col-4">
                <div class="postcode">
                    <div class="h2">All NSW</div>
                </div>
            </div>

            <div class="col-4">
                <div class="today-count">
                    <h3>{{data.count}}</h3>
                </div>
            </div>

            <div class="col-4">
                <div class="new-cases">
                    {{ data.recent}}
                </div>
            </div>
        </div>
    
    <div class="row mt-2">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 infection-box">
        <h5 class="infection-heading">Infection Source</h5>
        <p class="infection-p"><span class="infection-type">Overseas:</span> <span class="infection">{{ data.source.overseas }}</span></p>
        <p class="infection-p"><span class="infection-type">Interstate:</span> <span class="infection">{{ data.source.interstate }}</span></p>
        <p class="infection-p"><span class="infection-type">Locally (Known Source):</span> <span class="infection">{{ data.source.locallyacquiredcontactofaconfirmedcaseandorinaknowncluster }}</span></p>
        <p class="infection-p"><span class="infection-type">Locally (Unknown Source):</span> <span class="infection">{{ data.source.locallyacquiredsourcenotidentified }}</span></p>
        <p class="infection-p"><span class="infection-type">Under Investigation:</span> <span class="infection">{{ data.source.underinvestigation }}</span></p>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" id="dashboard_div">
        <div class="col">
      <!--Divs that will hold each control and chart-->
            <div id="chart_div"></div>
            <div class="text-center" id="filter_div"></div>
        </div>
    </div>

    <div class="contact-message mt-5">
    <p>The information on this website is updated as soon as new data is published by NSW Health which is usually once a day.  The last update was at {{ last_update }}. For feedback on the website or to suggest a feature please contact <a href="mailto:covid19nsw.stat@gmail.com">covid19nsw.stat@gmail.com</a></p>
    </div>
    


    </div>

{% endblock %} 

