<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Postcode Search - 2026</title>
    <meta name="description" content="Search your postcode for confirmed cases and infection sources of COVID-19">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163350903-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163350903-1');
  </script>
  
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    google.charts.load('current', {'packages':['corechart', 'controls', 'line']});

    google.charts.setOnLoadCallback(drawTestDashboard);

    function drawTestDashboard() {
        var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Tests');
      data.addColumn('number', 'Positive');

      data.addRows([
        
        [new Date(2020,3,20), 112, 130],
        
        [new Date(2020,3,19), 112, 110],
        
        [new Date(2020,3,18), 112, 80],
        
        [new Date(2020,3,17), 111, 80],
        
        [new Date(2020,3,16), 111, 80],
        
        [new Date(2020,3,15), 111, 80],
        
        [new Date(2020,3,14), 111, 75],
        
        [new Date(2020,3,13), 111, 70],
        
        [new Date(2020,3,12), 111, 66],
        
      ]);

        var test_dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_test_div'));

        // Create a range slider, passing some options
        var casesRangeSlider = new google.visualization.ControlWrapper({
            'controlType': 'DateRangeFilter',
            'containerId': 'filter_test_div',
            'options': {
            'filterColumnLabel': 'Date'
            }
        });

        var casesChart = new google.visualization.ChartWrapper({
            'chartType': 'ColumnChart',
            'containerId': 'chart_test_div',
            'options': {
                height: 300,
                hAxis: {
                format: 'd MMM',
                gridlines : {
                    count : 14,
                    minSpacing: 80,
                    interval: 1,
                    }
                },
                vAxis: {
                format: '0',
                }
            }
        });

        test_dashboard.bind(casesRangeSlider, casesChart);

        function resize() {
            var chart = new google.visualization.Dashboard(document.getElementById('dashboard_test_div'));
            chart.draw(data);
        }
        window.onload = resize();
        window.onresize = resize;

        test_dashboard.draw(data);
    };

    </script>



</head>
<body>
    <div class="row" id="dashboard_tests_div">
        <div class="col">
      <!--Divs that will hold each control and chart-->
            <div id="chart_test_div"></div>
            <div class="text-center" id="filter_test_div"></div>
        </div>
    </div>

</body>