{% extends 'base.html' %}
{% block title %}Covid-19 NSW - find cases in your suburb{% endblock %}
{% block content %}
    <div class="container">
    <div class="row select-buttons mb-2">
        <div class="col-4 button-all">
            <form action="/" method = "POST" class="form-inline">
                {% if days_set == 'all' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="all">All Cases</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="all">All Cases</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-fourteen">
            <form action="/" method = "POST" class="form-inline">
                {% if days_set == 'fourteen' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="fourteen">14 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="fourteen">14 Days</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-seven">
            <form action="/" method = "POST" class="form-inline" name="seven-days">
                {% if days_set == 'seven' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="seven">7 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="seven">7 Days</button>
                {% endif %}
            </form>
        </div>
    </div>
    </div>
    <div class="container">
        <div>
            <h4 class="text-center all-count">
            {% if days_set == 'seven' %}
                <a href={{ url_for('allnsw', days='all') }}>Last 7 days: {{ case_numbers }}</a>
            {% elif days_set == 'fourteen' %}
                <a href={{ url_for('allnsw', days='fourteen') }}>Last 14 days: {{ case_numbers }}</a>
            {% else %}
                <a href={{ url_for('allnsw', days='all') }}>All Cases: {{ case_numbers }}</a>
            {% endif %}
            </h4>
        </div>
        <div class="row headers mb-2">
            <div class="col-2">
            Rank
            </div>
            <div class="col-6">
            Postcode
            </div>
            <div class="col-2">
            Cases
            </div>
            <div class="col-2">
            Recent
            </div>
        </div>
    {% for each in data %}
    {% if each.count_change != 0 %}
    <div class="row hot-entry">
    {% else %}
    <div class="row rank-entry">
    {% endif %}
            <div class="col-2">
                <div class="rank-number">
                    <div class="h2">{{ each.rank }}</div>    
                </div>
            </div>

            <div class="col-6">
                <div class="postcode">
                    <div class="h2">
                    <a href = {{ url_for('postcode', location=each.postcode) }}>
                    {{ each.postcode }}
                    </a>
                    </div>
                </div>
                <div class="suburbs">
                    {{ each.suburbs }}
                </div>
            </div>

            <div class="col-2">
                <div class="today-count mt-3">
                    <h3>{{each.count}}</h3>
                </div>
            </div>

            <div class="col-2">
                <div class="new-cases mt-3">
                    {{ each.count_change }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}