<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 NSW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div></div>
    <div class="page-heading mt-2"><h2>Covid-19 NSW Cases</h2></div>
    <p class="disclaimer">The data on this site is gathered from <a href="https://data.nsw.gov.au/nsw-covid-19-data" target="_blank">NSW Data.</a> This is displayed for research purposes only and is not provided for health advice.  </p>
    <div class="container">
        <div class="row headers mb-2">
            <div class="col-2">
            Rank
            </div>
            <div class="col-6">
            Postcode
            </div>
            <div class="col-2">
            Cases
            </div>
            <div class="col-2">
            New
            </div>
        </div>
    {% for each in data %}
    {% if '+' in each.movement_rank %}
    <div class="row hot-entry">
    {% else %}
    <div class="row rank-entry">
    {% endif %}
            <div class="col-2">
                <div class="rank-number">
                    <div class="h2">{{ each.rank }}</div>    
                </div>
                <div class="rank-direction">
                    {{ each.movement_rank }}
                </div>
            </div>

            <div class="col-6">
                <div class="postcode">
                    <div class="h2">{{ each.postcode }}</div>
                </div>
                <div class="suburbs">
                    {{ each.suburbs }}
                </div>
            </div>

            <div class="col-2">
                <div class="today-count mt-3">
                    <h3>{{each.count}}</h3>
                </div>
            </div>

            <div class="col-2">
                <div class="new-cases mt-3">
                    {{ each.count_change }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>