<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 NSW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Cases');

      data.addRows([
        [new Date(2020,3,1), 20],
        [new Date(2020,3,2), 24],
        [new Date(2020,3,3), 24],  
        [new Date(2020,3,4), 25],  
        [new Date(2020,3,5), 26],  
        [new Date(2020,3,6), 28],
        [new Date(2020,3,7), 28],  
        [new Date(2020,3,7), 28],  
        [new Date(2020,3,8), 33],  
        [new Date(2020,3,10), 34],  
        [new Date(2020,3,11), 34], 
        [new Date(2020,3,12), 35],
        [new Date(2020,3,13), 35], 
        [new Date(2020,3,14), 36]
      ]);

      var options = {
        height: 350,
        legend: 'none',
        hAxis: {
          format: 'M/d',
          title: 'Date'
        },
        vAxis: {
          title: 'Total Cases'
        }
      };

      function resize() {
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
      window.onload = resize();
      window.onresize = resize;
    }

    </script>
</head>
<body>
    <h1 class="mb-5">Covid-19 NSW Rankings</h1>
    <div class="container">
        <div class="row headers mb-2">
            <div class="col-2">
            Rank
            </div>
            <div class="col-6">
            Postcode
            </div>
            <div class="col-2">
            Cases
            </div>
            <div class="col-2">
            New Today
            </div>
        </div>
        <div class="row rank-entry">
            <div class="col-2">
                <div class="rank-number">
                    <div class="h2">1</div>    
                </div>
                <div class="rank-direction">
                    -
                </div>
            </div>

            <div class="col-6">
                <div class="postcode">
                    <div class="h2">2026</div>
                </div>
                <div class="suburbs">
                    Bondi, Waverly, Some Heights
                </div>
            </div>

            <div class="col-2">
                <div class="today-count mt-3">
                    106
                </div>
            </div>

            <div class="col-2">
                <div class="new-cases mt-3">
                    3
                </div>
            </div>
        </div>
    </div>
  <div id="chart_div"></div>
</html>
