{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block title %}Covid-19 NSW - find cases in your suburb{% endblock %}
{% block content %}
<div id="root">not rendered</div>
<div class="container position-sticky">
    <div class="row select-buttons mb-2">
        <div class="col-4 button-all">
            <form action="map" method = "POST" class="form-inline">
                {% if days_set == 'all' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="all">All Cases</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="all">All Cases</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-fourteen">
            <form action="map" method = "POST" class="form-inline">
                {% if days_set == 'fourteen' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="fourteen">14 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="fourteen">14 Days</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-seven">
            <form action="map" method = "POST" class="form-inline" name="seven-days">
                {% if days_set == 'seven' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="seven">7 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="seven">7 Days</button>
                {% endif %}
            </form>
        </div>
    </div>
    </div>
    {% if temp_map == 'true' %}
    {% include temp_map_name %}
    {% elif days_set == 'seven' %}
    {% include 'map_seven.html' %}
    {% elif days_set == 'fourteen' %}
    {% include 'map_fourteen.html' %}
    {% else %}
    {% include 'map_all.html' %}
    {% endif %}
    <script type="module" src="{{ url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}