{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Cases');

      data.addRows([
        [new Date({{ history.fourteen.year }},{{history.fourteen.month}},{{history.fourteen.day}}), {{history.fourteen.total_count}}],
        [new Date({{ history.thirteen.year }},{{history.thirteen.month}},{{history.thirteen.day}}), {{history.thirteen.total_count}}],
        [new Date({{ history.twelve.year }},{{history.twelve.month}},{{history.twelve.day}}), {{history.twelve.total_count}}],  
        [new Date({{ history.eleven.year }},{{history.eleven.month}},{{history.eleven.day}}), {{history.eleven.total_count}}],  
        [new Date({{ history.ten.year }},{{history.ten.month}},{{history.ten.day}}), {{history.ten.total_count}}],
        [new Date({{ history.nine.year }},{{history.nine.month}},{{history.nine.day}}), {{history.nine.total_count}}],
        [new Date({{ history.eight.year }},{{history.eight.month}},{{history.eight.day}}), {{history.eight.total_count}}],
        [new Date({{ history.seven.year }},{{history.seven.month}},{{history.seven.day}}), {{history.seven.total_count}}],
        [new Date({{ history.six.year }},{{history.six.month}},{{history.six.day}}), {{history.six.total_count}}],
        [new Date({{ history.five.year }},{{history.five.month}},{{history.five.day}}), {{history.five.total_count}}],
        [new Date({{ history.four.year }},{{history.four.month}},{{history.four.day}}), {{history.four.total_count}}],
        [new Date({{ history.three.year }},{{history.three.month}},{{history.three.day}}), {{history.three.total_count}}],
        [new Date({{ history.two.year }},{{history.two.month}},{{history.two.day}}), {{history.two.total_count}}],
        [new Date({{ history.one.year }},{{history.one.month}},{{history.one.day}}), {{history.one.total_count}}]
      ]);

      var options = {
        height: 300,
        legend: 'none',
        hAxis: {
          format: 'd MMM',
          title: 'Date',
          gridlines : {
              count : 14,
              minSpacing: 80,
            }
        },
        vAxis: {
          title: 'Total Cases'
        }
      };

      function resize() {
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
      window.onload = resize();
      window.onresize = resize;
    }

    </script>

{% endblock %}

{% block content %}
    <div class="container">
    <div class="row select-buttons mb-2">
        <div class="col-4 button-all">
            <form action="postcode" method = "POST" class="form-inline">
                {% if days_set == 'all' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="recall-{{ postcode }}-all">All Data</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="recall-{{ postcode }}-all">All Data</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-fourteen">
            <form action="postcode" method = "POST" class="form-inline">
                {% if days_set == 'fourteen' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="recall-{{ postcode }}-fourteen">14 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="recall-{{ postcode }}-fourteen">14 Days</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 button-seven">
            <form action="postcode" method = "POST" class="form-inline" name="seven-days">
                {% if days_set == 'seven' %}
                    <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit" name="days" value="recall-{{ postcode }}-seven">7 Days</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="days" value="recall-{{ postcode }}-seven">7 Days</button>
                {% endif %}
            </form>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row headers mb-2">
            <div class="col-2">
            Rank
            </div>
            <div class="col-6">
            Postcode
            </div>
            <div class="col-2">
            Cases
            </div>
            <div class="col-2">
            Recent
            </div>
        </div>
    {% for each in data %}
    <div class="row rank-entry">
            <div class="col-2">
                <div class="rank-number">
                    <div class="h2">{{ each.rank }}</div>    
                </div>
            </div>

            <div class="col-6">
                <div class="postcode">
                    <div class="h2">{{ each.postcode }}</div>
                </div>
                <div class="suburbs">
                    {{ each.suburbs }}
                </div>
            </div>

            <div class="col-2">
                <div class="today-count mt-3">
                    <h3>{{each.count}}</h3>
                </div>
            </div>

            <div class="col-2">
                <div class="new-cases mt-3">
                    {{ each.count_change }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div id="chart_div"></div>

    <div class="close-postcodes">
    <div class="container">
        <div class="today-count"><h3>Close Suburbs</h3></div>
        <div class="row headers mb-2">
            <div class="col-2">
            Rank
            </div>
            <div class="col-6">
            Postcode
            </div>
            <div class="col-2">
            Cases
            </div>
            <div class="col-2">
            Recent
            </div>
        </div>
    {% for each in close %}
    <div class="row rank-entry">
            <div class="col-2">
                <div class="rank-number">
                    <div class="h2">{{ each.rank }}</div>    
                </div>
            </div>

            <div class="col-6">
                <div class="postcode">
                    <div class="h2">
                    <a href = {{ url_for('postcode', location=each.postcode) }}>
                    {{ each.postcode }}
                    </a>
                    </div>
                </div>
                <div class="suburbs">
                    {{ each.suburbs }}
                </div>
            </div>

            <div class="col-2">
                <div class="today-count mt-3">
                    <h3>{{each.count}}</h3>
                </div>
            </div>

            <div class="col-2">
                <div class="new-cases mt-3">
                    {{ each.count_change }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %} 