{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row headers mb-2">
            <div class="col-2">
            Rank
            </div>
            <div class="col-6">
            Postcode
            </div>
            <div class="col-2">
            Cases
            </div>
            <div class="col-2">
            Change
            </div>
        </div>
    {% for each in data %}
    {% if '+' in each.movement_rank %}
    <div class="row hot-entry">
    {% else %}
    <div class="row rank-entry">
    {% endif %}
            <div class="col-2">
                <div class="rank-number">
                    <div class="h2">{{ each.rank }}</div>    
                </div>
                <div class="rank-direction">
                    {{ each.movement_rank }}
                </div>
            </div>

            <div class="col-6">
                <div class="postcode">
                    <div class="h2">{{ each.postcode }}</div>
                </div>
                <div class="suburbs">
                    {{ each.suburbs }}
                </div>
            </div>

            <div class="col-2">
                <div class="today-count mt-3">
                    <h3>{{each.count}}</h3>
                </div>
            </div>

            <div class="col-2">
                <div class="new-cases mt-3">
                    {{ each.count_change }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %} 