{% extends 'base.html' %}
{% block content %}
<div class="mt-3 container">
    {% if other_options == 'no' %}
    <p class="postcode_error">
    Sorry, we coulding find {{ postcode }} or anything similar in our database, please try again.
    </p>
    {% else %}
    <p class="postcode_error">Search results for {{ postcode }}:</p>
    {% for entry in all_options  %}
    <div class="col-6">
    <p style="margin-bottom: 1px"><a href = {{ url_for('postcode', location=entry) }}> {{ entry }} </a></p>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %} 